data/owls_ion_data/ne9.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/o7.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/si4.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/he1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/mg2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/ne8.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/o1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/si3.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/ne10.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/mg1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n3.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n5.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/si13.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/fe2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/he2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n4.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/o8.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/al1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/fe17.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/h1.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c5.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c6.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n6.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/si2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/al2.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/al3.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c4.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/n7.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/c3.hdf5 filter=lfs diff=lfs merge=lfs -text
data/owls_ion_data/o6.hdf5 filter=lfs diff=lfs merge=lfs -text
